  iframe {
    width: auto;
    height: auto;
    margin: 0 auto;
  }

  /*Footer*/
  footer {
    background-color: rgb(4, 4, 48);
    padding: 10px;
    text-align: center;
    margin-top: auto;
    height: fit-content;
    color: aliceblue;
  }
  footer a {
    margin: 10px;
    color: aliceblue;
  }

  /*Logo and movement*/
  .logoImg{
    position: relative;
    height: 250px;
    width: 800px;
    align-self: center;
    transition: 1s;
  }
  .logoImg:hover{
    animation-name: Shake;
    animation-duration: 0.4s;
    animation-iteration-count: 2;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #008080; /* Teal */
    color: white;

    /*Body styling to fit footer at the bottom*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  h1 {
    color: #333;
    margin: 0 0 20px;
    text-align: center;
    border-style: solid;
    border-color: #E9E616;
  }

  p {
    margin: 0 0 10px;
  }
  /*Inputs*/
  input[type="text"],
  textarea {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  button {
    padding: 15px 25px;
    cursor: pointer;
    background-color: rgb(4, 4, 48);
    color: aliceblue;
    border-radius: 3px;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: rgb(13, 13, 130);
  }
  /*Lists*/
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin: 10px 0;
  }
  /*Discusion styling*/
  #chat {
    width: 80vw;
    height: 50vh;
    margin: 0 auto;
    border: 1px solid #E9E616;
    border-radius: 10px;
    background-color: rgba(4, 4, 48, 0.689);
  }
  #MessageCtnr {
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
  }

  #MessageCtnr p {
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
    background-color: #009f9f7b;
    width: 98%;
    text-wrap: wrap;
    height: fit-content;
  }

  #NameInp{
    width:350px;
  }

  #MessageInp {
    min-width: 75vw;
    width: fit-content;
  }

  #SendBtn {
    width: 300px;
    margin: 10px auto;
  }
  /*Footer*/
  footer {
    background-color: rgb(4, 4, 48);
    padding: 10px;
    text-align: center;
    margin-top: auto;
    height: fit-content;
    color: aliceblue;
  }
  footer a {
    margin: 10px;
    color: aliceblue;
  }

  /*Media queries*/
  @media only screen and (max-width: 600px) {
    body {
      padding: 10px;
    }
    input[type="text"], textarea {
      font-size: 14px;
    }
    .logoImg{
    height: 75px !important;
    width: 250px !important;
    align-self: center;
    }
    footer{
      font-size: small !important;
    }
    iframe {
    scale: auto;
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    body {
      padding: 15px;
    }
    input[type="text"], textarea {
      font-size: 16px;
    }
    .logoImg{
    height: 75px !important;
    width: 250px !important;
    align-self: center;
    }
    iframe {
    scale: auto;
    }
  } 
  /*Logo Shake Animation*/
  @keyframes Shake {
    30%{
      transform: translateX(50px);
      animation-timing-function: ease-in-out;
    }
    70%{
      transform: translateX(-50px);
      animation-timing-function: ease-in-out;
    }
    100%{
      transform: translateX(0px);
      animation-timing-function: ease-in-out;
    }
    
  }